.updates {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 1rem 0;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 1rem;
  font-size: 13px;
}

.update {
  display: flex;
  gap: 0.5rem;
}

.update > img {
  width: 3.2rem;
  height: 3.2rem;
}

.customer-name {
  font-weight: 700;
}
