.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}

.sidebar__logo {
  display: flex;
  height: 4%;
  font-weight: 700;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.sidebar__logo > img {
  width: 3rem;
  height: 3rem;
}

.color-letter {
  color: var(--pink);
}

/* ----------------- MENU -------------------- */

.sidebar__menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 2.5rem; /* CHANGE LATER TO HEIGHT */
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  font-size: 14px;
  border-radius: 0.7rem;
  cursor: pointer;
}

.active {
  background-color: var(--active-item);
  margin-left: 0;
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

.menu .menu__item:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.bars {
  display: none;
}

/* ------------------ MQ LAPTOPS ------------------ */

@media screen and (max-width: 1200px) {
  .menu__item > span {
    display: none;
  }

  .sidebar__menu {
    left: 0;
  }

  .sidebar__logo {
    display: none;
  }
}

/* ------------------ MQ MOBILE ------------------ */

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 9;
    background: #ffe0e0;
    width: 55%;
    padding-right: 1rem;
    height: 100%;
  }

  .menu__item > span {
    display: block;
  }

  .sidebar__logo {
    display: flex;
  }

  .sidebar__menu .menu__item:last-child {
    position: relative;
    margin-top: 1.5rem;
  }

  .bars {
    display: flex;
    position: fixed;
    top: 2rem;
    z-index: 9;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 10px;
  }
}
