.MuiTableRow-root > * {
  padding: 10px !important;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: 700 !important;
}

.table-container td,
th {
  border: none !important;
}

.table-container > h3 {
  margin-bottom: 1.5rem;
}

.table-container:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.details {
  color: #00b5ff !important;
}

/* ------------------ MQ LAPTOPS ------------------ */

@media screen and (max-width: 1200px) {
  .table-container {
    width: 170%;
    margin-top: 3rem;
  }
}

/* ------------------ MQ MOBILE ------------------ */

@media screen and (max-width: 768px) {
  .table-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
  }
}
